/**
 * Author: Kartik Gevariya
 */
.dashboard-landing {
    width: 180px;
    height: 130px;

    background: rgba(29, 55, 127, 0.2);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.vendor-landing {
    width: 180px;
    height: 130px;

    background: rgba(102, 12, 12, 0.2);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.raw-material-landing {
    width: 180px;
    height: 130px;

    background: rgba(66, 0, 61, 0.2);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.raw-material-image {
    margin-top: 10px;
    width: 5.5rem;
    fill: #931CA0AA;
}

.food-item-landing {
    width: 180px;
    height: 130px;

    background: rgba(1, 57, 91, 0.2);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.po-landing {
    width: 180px;
    height: 130px;

    background: rgba(4, 75, 91, 0.2);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.mo-landing {
    width: 180px;
    height: 130px;

    background: rgba(198, 137, 0, 0.2);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.inventory-landing {
    width: 180px;
    height: 130px;

    background: rgba(57, 20, 81, 0.2);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.component-text {
    color: black;
    font-weight: bolder;
}

a:link {
    text-decoration: none;
}

.dropdown-toggle-custom {
    color: #119696;
}

.dropdown-toggle-custom > .dropdown-toggle::after {
    color: #119696;
}