/**
 * Author: Kartik Gevariya
 */
.po-raw-material-list {
    height: auto;
    max-height: 430px;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.po-selected-raw-material-list {
    height: auto;
    max-height: 330px;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.select-option-city {
    color: #666666;
}

.height-100 {
    height: 100%;
}

.po-list-header {
    background: rgba(0, 0, 0, 0.03);
}

[class*='control']:focus, [class*='control']:hover, [class*='control']:active, [class*='control']:visited, [class*='control']:focus-within, [class*='control']:focus-visible, [class*='control']:target {
    border-color: #119696 !important;
    box-shadow: 0 0 0 1px #119696;
}

.is-invalid > [class*='control'] {
    border-color: #BC3347CC;
}

.is-invalid.po-raw-material-list {
    border-color: #BC3347CC;
}