/**
 * Author: Kartik Gevariya
 */
.po-raw-material-list {
    height: auto;
    max-height: 430px;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.po-selected-raw-material-list {
    height: auto;
    max-height: 330px;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.select-option-city {
    color: #666666;
}

.height-100 {
    height: 100%;
}

.po-list-header {
    background: rgba(0, 0, 0, 0.03);
}

.is-invalid.po-raw-material-list {
    border-color: #BC3347CC;
}