/**
 * Author: Karishma Suresh Lalwani
 * Author: Kartik Gevariya
 * Author: Mansi Gevariya
 * Author: Rotesh Chhabra
 * Author: Tasneem Yusuf Porbanderwala
 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-warning,
.btn-danger {
  color: #ffffff;
}

.navbar {
  background-color: #119696 !important;
}

.navbar-nav a:hover,
.navbar-nav a:active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.confirmation-image {
  width: 15rem;
}

.recharts-cartesian-axis-tick,
.recharts-legend-item-text,
.recharts-default-tooltip {
  font-size: 1rem;
}

.navbar span{
  color: #f3f3dc
}

.Toastify__toast-container {
  margin-top: 4% !important;
  width: 20% !important;
}

.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}

.Toastify__toast--info {
  background: #119696 !important;
}

.Toastify__toast--success {
  background: #119696 !important;
}

.Toastify__toast--warning {
  background: #4EA1D3 !important;
}

.Toastify__toast--error {
  background: #BC3347CC !important;
}

.dialog-background{
  background: none repeat scroll 0 0 rgba(0, 0, 25, 0.5);
  height: 200%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.dialog-loading-wrapper {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: fixed;
  top: 50%;
  width: 100px;
  z-index: 9999999;
}

.dialog-loading-icon {
  background-color: #FFFFFF !important;
  border-radius: 13px;
  display: block;
  height: 100px;
  line-height: 100px;
  margin: 0;
  padding: 1px;
  text-align: center;
  width: 100px;
}

.loading-img {
  width: 150px;
}

[class*='control']:focus, [class*='control']:hover, [class*='control']:active, [class*='control']:visited, [class*='control']:focus-within, [class*='control']:focus-visible, [class*='control']:target {
  border-color: #119696 !important;
  box-shadow: 0 0 0 1px #119696;
}

.is-invalid > [class*='control'] {
  border-color: #BC3347CC;
}